.vp-doc .supported-sites p {
  line-height: unset !important;
  margin: unset !important;
}

.vp-doc .supported-sites .custom-block {
  margin: 8px 0 !important;
  padding: 0 0 0 10px !important;
}

.supported-sites .custom-block.details summary {
  margin: unset !important;
}

.vp-doc .supported-sites ul,
.vp-doc .supported-sites ol {
  margin: 8px 0;
}
